* {
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}

body {
    margin: 0;
    color: #5a4a42;
}

.header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 24px;
    font-weight: normal;
}

.container {
    width: 70%;
    margin: 40px auto;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.contact-form {
    width: 100%;
}

.form{
    display: flex;
    gap: 150px;
}
.form span {
    color: red;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-row label {
    width: 200px;
}

.form-row span {
    color: red;
}

.form-row input,
.form-row select,
.form-row textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    background: #f7f7f7;
}

.name-box {
    display: flex;
    gap: 20px;
    width: 100%;
}

.radio-box {
    display: flex;
    align-items: center;
    gap: 50px;
    /* 男性・女性・その他の間隔 */
}

.radio-item {
    display: flex;
    white-space: nowrap;
    align-items: center;
    gap: 0px;
    /* ● と文字の距離 */
}

.radio-item input {
    margin: 0,0,0,0;
}

.tel-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tel-box input {
    width: 80px;
}

textarea {
    height: 120px;
}

.form-button {
    text-align: center;
    margin-top: 40px;
}

.form-button button {
    padding: 10px 40px;
    border: none;
    background: #7a6a5f;
    color: #fff;
    cursor: pointer;
}